.admin-container{
	background: #E5E5E5;
	margin-bottom: 0;
	.main.row{
		min-height: 100%;
		display: flex;
		min-height: 500px;
		margin-bottom: 0;
	}
	.admin-navbar{
		background: #F2EAD1;
		min-height: 100%;
	}
}