.main-banner.cat{
    //background-attachment: fixed;
    background-image: url(../img/bannercategoria.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2F2F2;
    padding: 50px 0;
	a{color: $fontColor;}
}